<div >
  <h1>
    Sample product catalog
  </h1>
</div>
<div class="row">
  <div class="card col-sm-3 col-xs-12 col-md-4" style="width: 18rem;">
    <img src="https://images.cloudelements.io/mandrill201810221710.png" class="card-img-top" alt="Mandrill">
    <div class="card-body">
      <div class="text-content"><div class="key">Name: </div><div>Mandrill</div></div>
      <div class="text-content"><div class="key">Author: </div><div>"MaxwellWarnerCE"</div></div>
      <div class="text-content"><div class="key">Description: </div><div>"mailchimp's transactional email service, mandrill"</div></div>
      <div class="text-content"><div class="key">key: </div><div>"mandrill_3"</div></div>
    </div>
  </div>
  <div class="card col-sm-3 col-xs-12 col-md-4" style="width: 18rem;">
    <img src="https://images.cloudelements.io/mandrill201810221710.png" class="card-img-top" alt="Mandrill">
    <div class="card-body">
      <div class="text-content"><div class="key">Name: </div><div>Mandrill</div></div>
      <div class="text-content"><div class="key">Author: </div><div>"MaxwellWarnerCE"</div></div>
      <div class="text-content"><div class="key" >Description: </div><div class="ellipses" >Provide secure identity management and single sign-on to any application, whether in the cloud, on-premises or on a mobile device.</div></div>
      <div class="text-content"><div class="key">key: </div><div>"mandrill_3"</div></div>
    </div>
  </div>
</div>
